body
{
    margin-top: 3%;
}
#centrale
{
    width: 90%;
    height: 2%;
    margin-left: 5%;
    background-color: black;
}
nav h5{
    margin-left: 60%;
    margin-top: 0%;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none !important;
    font-size: small;
    color: rgb(224, 224, 224);
}
#English
{
    font-size: unset;
}
#one
{
    width: 90%;
    height: 60vh;
    position: relative;
    object-fit: cover;
    margin-left: 5%;
    margin-top: -2.2%;
}
#one img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#txt
{
    text-align: center;
    color: whitesmoke;
    margin-top: -23%;
    position: relative;
    font-size: 250%;
}
#icon
{
    position: absolute;
    /* background:#ff00001c; */
    width: 30%;
    height: 10%;
    margin-left: 63.5%;
    margin-top: -19.2%;
    /* text-align: center; */
    display: flex;
    /* justify-content: space-between; */
}
#icon span
{
    width: 10%;
    height: 50%;
    margin-top: 5%;
    /* border: solid 2px red; */
    /* background: white; */
    border-radius: 60px;

}
i
{
    padding: 8px;
}
#face
{
    width: 10%;
    height: 50%;
    /* font-size: 40px; */
    background-color: white;
    border-radius: 60px;
    margin-left: 38%;
    /* margin-top: 5%; */
}
#insta
{
    width: 10%;
    height: 50%;
    background-color: white;
    border-radius: 60px;
    margin-left: 5px;
    /* padding: 10px; */
}
#twitter
{
    width: 10%;
    height: 50%;
    background: white;
    border-radius: 60px;
    margin-left: 5px;
}
#loupe
{
    width: 10%;
    height: 50%;
    background: white;
    border-radius: 60px;
    margin-left: 20px;
}
#lien
{
    position: absolute;
    width: 83%;
    height: 16%;
    background: white;
    margin-left: 8%;
    margin-top: 8%;
    display: flex;
    display: flex;
    justify-content: space-evenly;
}
#lien span
{
    width: 100%;
    height: 50%;
    margin-top: 5%;
    border: solid 2px black;
    display: flex;
    justify-content: space-evenly;
    background: white;
    border-radius: 50%;
}
#lien i
{
    /* padding: 10px; */
    font-size: 200%;
    margin-top: -5%;
    /* margin-bottom: 50%; */
}
#eat
{
    /* width: 10%;
    height: 40%; */
    /* font-size: 40px; */
    background-color: white;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: auto;
}
#se
{
    /* margin-left: 10%; */
}
#see
{
    margin-left: 40%;
    margin-top: 30%;
}
#guide
{
    margin-left: 60%;
    margin-top: 30%;
}
#events
{
    margin-left: 80%;
}
#meet
{
    margin-left: 100%;
}
#choose
{
    width: 83%;
    height: 6%;
    position: absolute;
    background-color: black;
    margin-top: 14.2%;
    margin-left: 8%;
}

 #on
{
    position: absolute;
    width: 110vh;
    height: 40vh;
    display: flex;
    margin-left: 8.2%;
    /* margin-top: 10%; */
}
#pp
{
    width: 50vh;
    height: 45vh;
    /* margin-top: 24.5%; */
    position: absolute;
    top: 181PX;
    left: -2.05px;
}
#two
{
    width:60vh;
    height: 25vh;
    position: absolute;
    top: 181PX;
    left: 44.8%;
}
#nde
{
    width:60vh;
    height: 25vh;
}
#tree
{
    width: 60vh;
    height: 20vh;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0%;
}
#fou
{
    width: 23vh;
    height: 40vh;
    position: absolute;
    top: 71.5%;
    left: 99.1%;
}
#clik
{
    width: 22.3vh;
    height: 22vh;
}
#cliq
{
    width: 22.3vh;
    height: 22vh;
    left: 99%;
    top: 60%;
}
#five
{
    width: 100vh;
    height: 30vh;
    position: absolute;
    top: 112%;
    left: 8.8%;
    display: flex;
}
#f
{
    width: 49.5vh;
    height: 23vh;
}
#g
{
    width: 60vh;
    height: 23vh;
}
#h
{
    width: 22.5vh;
    height: 23vh;
}
#six
{
    width: 100vh;
    height: 20vh;
    position: absolute;
    top: 135%;
    left: 8.8%;
    display: flex;
}
#i
{
    width: 24.8vh;
    height: 20vh;
}
#j
{
    width: 24.8vh;
    height: 20vh;
}
#k
{
    width: 31vh;
    height: 20vh;
}
#l
{
    width: 29vh;
    height: 20vh;
}
#m
{
    width: 22.5vh;
    height: 20vh;
}
#seven
{
    width: 100vh;
    height: 20vh;
    position: absolute;
    top: 155%;
    left: 8.8%;
    display: flex;
}
#huit
{
    width: 20%;
    height: 50%;
    width: 100vh;
    height: 20vh;
    position: absolute;
    top: 178%;
    left: 8.8%;
    display: flex;
}
#k1
{
    width: 31vh;
    height: 23vh;
}
#l1
{
    width: 29vh;
    height: 23vh;
}
#neuf
{
    width: 100vh;
    height: 20vh;
    position: absolute;
    top: 201%;
    left: 8.8%;
    display: flex;
}

#dix
{
    width: 100vh;
    height: 20vh;
    position: absolute;
    top: 224%;
    left: 8.8%;
    display: flex;
}